@model IEnumerable<university_registration_project_cris.T_STUDENT>

@{
    ViewBag.Title = "Inicio";
}

<h2>ESTUDIANTE</h2>

<p>
    @Html.ActionLink(" Agregar", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student_personal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_last_name1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_last_name2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_date_of_birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_admission_date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_personal_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_last_name1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_last_name2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_admission_date)
            </td>
            <td>
                <p>
                    <a href="@Url.Action("Edit", "T_STUDENT", new { id = item.student_id })" class="fa fa-edit text-primary" title="Editar"></a> | 
                
                    <a href="@Url.Action("Details", "T_STUDENT", new { id = item.student_id })" class="fa fa-info-circle text-info" title="Detalles"></a> | 
                
                    <a href="@Url.Action("Delete", "T_STUDENT", new { id = item.student_id })" class="fa fa-trash text-danger" title="Eliminar"></a>
                </p>
            </td>
        </tr>
    }

</table>
